<header>

    <a href="https://www.kletech.ac.in/information/index.html" class="logo">
        <img src="https://www.kletech.ac.in/information/img/logo.png" alt="logo">
    </a>

    <!-- <ul> -->
        <li active routerLink="/home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</li>
        <li routerLink="/events" routerLinkActive="active"><i class="fa fa-edge" aria-hidden="true"></i>&nbsp;Events</li>
        <!-- <li routerLink="/notification" routerLinkActive="active"><i class="fa fa-bell" aria-hidden="true"></i>&nbsp;Notification</li> -->
        <li routerLink="/manage-events" routerLinkActive="active"><i class="fa fa-medium" aria-hidden="true"></i>&nbsp;Manage-Events</li>
        <li routerLink="/about" routerLinkActive="active"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;About</li>
    <!-- </ul> -->
    
</header>