<footer>
    <div class="container text-center p-4">

        <div class="social-icons text-center">

            <a title="Facebook" href="https://www.facebook.com/kletechbvb/" target="_blank" class="facebook"><i
                    class="fa fa-facebook-official" aria-hidden="true"></i></a>

            <a title="Twitter" href="https://twitter.com/KLETechbvb" target="_blank" class="twitter"><i
                    class="fa fa-twitter-square" aria-hidden="true"></i></a>

            <a title="YouTube" href="https://www.youtube.com/c/KLETechnologicalUniversity" target="_blank"
                class="you-tube"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>

            <a title="Linkedin" href="https://www.linkedin.com/school/kletechbvb/" target="_blank" class="linkedin"><i
                    class="fa fa-linkedin-square" aria-hidden="true"></i></a>

            <a title="Instagram" href="https://www.instagram.com/KLETechbvb/" target="_blank" class="instagram"><i
                    class="fa fa-instagram" aria-hidden="true"></i></a>

        </div>

    </div>

    <div class="footer-navbar text-center">
        <li active routerLink="/home" routerLinkActive="active">Home</li><strong>|</strong>
        <li routerLink="/events" routerLinkActive="active">Events</li><strong>|</strong>
        <li routerLink="/notification" routerLinkActive="active">Notification</li><strong>|</strong>
        <li routerLink="/manage-events" routerLinkActive="active">Manage-Events</li><strong>|</strong>
        <li routerLink="/about" routerLinkActive="active">About</li>
    </div>

    <div class="logo">
        Designed & Developed by
        <img src="https://i.ibb.co/M1kb405/LOGO.png" alt="LOGO">
    </div>

</footer>