<app-header></app-header>

<div class="about-section">
    <p>We here at KLE Technoloigical University thrive to be the one of the best Universities in the Country. To
        acheive this we try our level best to excel in the field of academics as well as non academics. The standard
        and level of events organized here in KLE Tech are
        are the proof that we are on par with some of the best Universities. We thank our organizers for being so
        great in managing and organizing the events actively. We list some of the major organization clubs that are
        in KLE TECH below. Hope you find this site helfpul. Feel free to contact us and our event organization
        clubs.</p>
</div>
<br />


<h2 style="text-align:center">Our Departments & Organizations</h2>
<br />
<div class="row">
    <div class="column">
        <div class="card">
            <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
            <div class="container">
                <h3 style="padding-left: 25px;">CLUBS OF KLETECH</h3>
                <br />
                <div class="left">
                    <p class="title ">
                        STUDENTS SECRETARY COUNCIL(SCC)
                    <p>
                        <td> CONTACT NO: 80732 60895</td>
                    <p class="title ">
                        BITS AND BYTES
                    <p>
                        <td> CONTACT NO: 80881 70466</td>
                    <p class="title ">
                        AERO KLE CLUB
                    <p>
                        <td> CONTACT NO: 70190 38233</td>

                    <p class="title ">
                        MOTORSPORTS CLUB
                    <p>
                        <td> CONTACT NO: 81973 20816</td>

                    <p class="title ">
                        KLE TECH DRAMA CLUB
                    <p>

                        <td> CONTACT NO: 82778 06192</td>
                </div>
                <p><button class="button">Contact for more details</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <!-- <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
            <div class="container">
                <div class="dept">
                    <h3 class="text-center">DEPARTMENTS OF KLE TECH</h3><br />
                    <p class="title">School of Computer Science Engineering</p><br>
                    <p class="title">School of Electronics and Communication Engineering</p><br>
                    <p class="title">School of Electronics and Electrical Engineering</p><br>
                    <p class="title">School of Mechanical Engineering</p><br>
                    <p class="title">School of Civil Engineering</p><br>
                    <p class="title">School of Automation and Robotics</p><br>
                </div>
                <div class="contactdept">
                    <p><button class="button">KLE TECH Departments</button></p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> -->
            <div class="container">
                <h3 style="padding-right: 30px; text-align: end;">CLUBS OF KLETECH</h3>
                <div class="right">
                    <br /><p class="title ">
                        HIGHER STUDIES CLUB KLE TECH
                    <p>
                        <td> CONTACT NO: 63622 45250</td>
                    <p class="title ">
                        LITERATURE CLUB
                    <p>
                        <td> CONTACT NO: 94832 68999</td>
                    <p class="title ">
                        KANNADA BALAGA
                    <p>
                        <td> CONTACT NO: 89043 50499</td>
                    

                    <p class="title ">
                        DEFENCE CLUB
                    <p>
                        <td> CONTACT NO: 84312 05484</td>

                    <p class="title ">
                        UPSE CLUB KLE TECH
                    <p>

                        <td> CONTACT NO: 89514 19234</td>

                </div>
                <p><button class="button">Contact for more details</button></p>
            </div>
        </div>
    </div>
</div>

<!-- <div id="departments">
        <ol>
            <h3>DEPARTMENTS OF KLE TECH</h3>
            <p>School of Computer Science Engineering</p><br>
            <p>School of Electronics and Communication Engineering</p><br>
            <p>School of Electronics and Electrical Engineering</p><br>
            <p>School of Mechanical Engineering</p><br>
            <p>School of Civil Engineering</p><br>
            <p>School of Automation and Robotics</p><br> -->