.list {
    text-align: left;
    width: calc(100% - 400px);
    margin-left: 400px;
}

.list-group li{
    cursor: pointer;
}

.list-group li:hover{
    background-color: var(--bs-list-group-active-bg);
    color: white;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    left: 0;
    margin-left: -100px;
    margin-top: 20px;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
    margin-left: -22px;
    margin-top: 61px;
}

.col-md-9 {
    width: 100%;
    margin-left: -100px;
}