<header>

    <a href="https://www.kletech.ac.in/information/index.html" class="logo">
        <img src="https://www.kletech.ac.in/information/img/logo.png" alt="logo">
    </a>

    <!-- <ul> -->
    <li routerLink="/manage-events/eventsList" routerLinkActive="active"><i class="fa fa-medium" aria-hidden="true"></i>&nbsp;My Events</li>
    <li routerLink="/manage-events/addEvent" routerLinkActive="active"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Event</li>
    <!-- </ul> -->

    <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Event Organiser</button>
        <div class="dropdown-content">
            <a routerLink="/home" routerLinkActive="active" style="cursor: pointer;">Log out & Go back to Home</a>
        </div>
    </div>

    <!-- <a class="nav-brand">Event Organiser</a> -->

</header>